

.fondoChange {
    background-color: #f9f9f9;
}



.h3Chang {
    font-family: "Lato", sans-serif;
    font-size: 1.7em;
    font-weight: 300;
    line-height: 120%;
    color: #0D7DBC;
    margin: 20px 0 17px 0;

}

.contChange{
    max-width: 100%; 
    min-width: 300px;
}

.contChange > p{
    margin: 0 0 10px;
}

.imgChange{
    max-width: 100%; min-width: 300px;
}
.princChange{
    padding-top: 70px;
}