.content-box {
    background-color: #f6f6f6;
    border: solid 1px #e5e5e5;
    height: 300px;
}

.contentSol {
    display: block;
    text-align: center;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 5px;
    height: 300px;
}


.titleSol {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 120%;
    color: #0D7DBC;
    margin: 20px 0 17px 0;
}

p {
    margin: 0 0 10px;
}

.contSol {
    width: 258px;
    float: left;
    padding: 20px;
    border: 0px solid rgba(0, 0, 0, 0.125);
}