#theBody {
    height: 100%;
    margin:0;
    padding:0;
}
.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 40px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: #fff;
    color: #666;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.75em;
}

h4 {
    font-size: 1.4em;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#footer {
    background-color: #444;
    color: #eee;
    padding: 0 0 20px 0;
    margin-top: 30px;
    border-top: solid 1px #ccc;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    bottom:0;
    width:100%;
}
.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}


#footer-title {
    font-family: 'Lato',sans-serif;
    font-size: 1.6em;
    color: #0eb7ff;
}



.col-md-4 {
    width: 33.33333333%;
    
}


.three_cols {
    overflow: hidden;
}

.three_cols>li {
    float: left;
    width: 33.333%;
    padding-bottom: 2px;
    padding-top: 1px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

#footer-widgets a {
    color: #eee;
    text-decoration: none;
}

aside, footer{
    display: block;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

#theFooter {
    background-color: #333;
    color: #ccc;
    padding: 17px 0;
    text-align: center;
    border-top: solid 1px #555;
    bottom:0;
    width:100%;
}



#theFooter p {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

#theFooter a {
    color: #0099da;
    text-decoration: none;
}

a {
    background: transparent;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

