.main-layout {

}
navbar {
  background-color: #f4f4f4;
}
.page-host {
  position: absolute;
  left: 68px;
  right: -20px;
  top: 60px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
side-bar {
  position: absolute;
  background-color: black;
  max-width: 74px;
  font-size: 11px;
  height: 100%;
  top: 60px;
}
side-bar a {
  text-align: center;
  color:#c6c6c6;
}

side-bar a:hover {
  color: white;
}

side-bar a:hover svg {
  fill: white;
}

side-bar a.active {
  color: #EC2685;
}
side-bar a.active svg {
  fill: #EC2685;
}

.jumbotron {
  margin-left: -16px;
  border-radius: 0px;
  background-color: #ed2b88;
  color: white;
  padding-top: 14px;
  font-size: 15px;
}

.video-zone {
  background-image: linear-gradient(to top, #6d50a2, #ed2b88);
  padding: 32px;
  display: flex;
  margin: -31px;
    margin-bottom: -64px;
}

nav li.active svg {
  fill: #EC2685;
}

nav svg {
  fill: #c6c6c6;
}

nav-bar {
  height: 60px;
}

nav-bar nav {
  height: 60px;
}

.bg-light {
  background-color: #f4f4f4 !important;
}

.navbar-brand img {
  height: 36px;
}

footer.content-footer {
  padding: 48px;
  background-color: #6d50a2;
  color: #fff;
  transition: margin-left .2s;
  margin-top: 20px;
}

footer.content-footer > .links {
margin-bottom: 36px;
display: flex;
justify-content: center;
text-align: left;
}

footer.content-footer > .links .link-column {
  margin: 0 36px;
  vertical-align: top;
}

footer.content-footer > .links .link-column > h4 {
  margin-bottom: 16px;
  text-transform: uppercase;
}

footer.content-footer > .links .link-column li {
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
}

footer.content-footer a {
  color: #fff;
  text-decoration: none;
}

footer.content-footer > .copyright {
  text-align: center;
  font-weight: lighter;
  font-size: 14px;
  line-height: 18px;
}